
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #111; 
}


::-webkit-scrollbar-thumb {
  background: #9333ea; 
  border-radius: 5px;
  border: 2px solid #111; 
}

::-webkit-scrollbar-thumb:hover {
  background: #7e22ce; 
}